.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
.btn-light {
    background-color: rgb(226, 0, 0);
    border-color: #e4e4e4;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
/* .list-menu a {
    color: #343a40;
}  */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    /* text-decoration: none; */
    color: #CC1522;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

[class*='card-product'] a.title {
    color: #212529;
    display: block;
}

.card-product-grid:hover {
    background-color: #F1F1F1;
    border: 1px solid #CC1522 !important;
    border-radius: 20px;
}
.card-product-grid{
    border: 2px solid #F1F1F1 !important;
    border-radius: 20px !important;
}
.img-wrap {
    overflow: hidden;
    position: relative;
}
.price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #CC1522;
}
.textDay{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    color: #0D0D0D;
}
.textProduct{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    /* identical to box height */
    color: #0D0D0D;
    justify-content: left;
}